<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Graphics</key>
        <dict>
            <key>1</key>
            <string>C:\Users\Neo\Documents\Inform\Projects\WordPlay.materials\Cover.png</string>
            <key>3</key>
            <string>Figures\Beyond Acceptance.jpg</string>
        </dict>
        <key>Sounds</key>
        <dict>
            <key>4</key>
            <string>Sounds\22331__black-boe__wind.ogg</string>
        </dict>
    </dict>
</plist>
